<div class="x">
  <svg width="30" height="30" viewBox="0 0 173 206" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_1_2)">
      <path d="M1 1L170.197 206.252" stroke="#D9D9D9" stroke-width="15" stroke-linecap="round"/>
      <path d="M0 206.066L172.91 -5.30481e-06" stroke="#D9D9D9" stroke-width="15" stroke-linecap="round"/>
    </g>
    <defs>
      <clipPath id="clip0_1_2">
        <rect width="173" height="206" fill="white"/>
      </clipPath>
    </defs>
  </svg>
</div>