<% 3.times do |row| %>
  <div class="b-row">
    <% 3.times do |col| %>
      <%sub_board = SubBoard.find(room.state[row.to_s][col.to_s])%>
      <% lost = sub_board.lost %>
      <% playable = sub_board.playable %>
      <div class="sub-board 
                  <%= 'lost-subboard' if lost %> 
                  <%= 'playable' if playable %>">
        <%= render 'sub_boards/sub_board', sub_board: sub_board, room: room, lost: lost, playable: playable, game_over: game_over %>
      </div>
    <%end%>
  </div>
<%end%>